.footer-names {
  margin: 1rem 0;
  font-family: "NVNMotherland", serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #e7e5e4;
}

@media (max-width: 768px) {
  .footer-names {
    font-size: 1.5rem;
  }
}
